/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
/*Desktop First*/

.page {
  display: grid;
  justify-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-normal, 400);
  font-size: var(--font-size-main, 18px);
  color: var(--text-color, rgb(0 0 0));
  background-color: var(--background-color, rgb(255 255 255));
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-family-main, sans-serif);
  }
}

.page__section-size {
  inline-size: var(--content-inline-size);
}

.header {
  display: grid;
  justify-items: center;
  margin-block: 100px;
  padding: 
    clamp(7.5rem, 7.324rem + 0.75vw, 8rem) 
    clamp(0.875rem, -1.469rem + 10vw, 7.531rem);
  border: 2px solid currentColor;
  background-color: inherit;
  font-family: var(--font-family-accent, sans-serif, fantasy);
}

.header__logo {
  margin-block-end: 20px;
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  font-weight: var(--font-weight-normal, 400);
}

.header__title {
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  text-transform: uppercase;
}

.content {
  display: grid;
  justify-items: center;
  row-gap: 50px;
  padding-block-end: 100px;
}

.content__cards {
  display: grid;
  gap: 49px;
}

.card {
  inline-size: 100%;
  background-color: var(--background-color, rgb(255 255 255));
  border: 2px solid currentColor;
}

.card__title {
  padding-inline: 10px;
  padding-block-start: 5px;
  padding-block-end: 3px;
  font-size: inherit;
  line-height: 1.21;
  font-variation-settings: 'wght' var(--font-weight-bold, 700);
}

.card__image-container {
  position: relative;
  border-block-start: 2px solid currentColor;
  border-block-end: 2px solid currentColor;
}

.card__watermark {
  position: absolute;
  z-index: 1;
  opacity: .5;
  inset-inline-end: clamp(0.6875rem, .4375rem + 1.25vw, 1.5625rem);
  inset-block-start: clamp(1.438rem, 1.402rem + .18vw, 1.563rem);
  font-family: var(--font-family-accent, sans-serif, fantasy);
  font-weight: var(--font-weight-normal, 400);
  font-size: var(--font-size-decor, 14px);
  line-height: 1;
  text-shadow:
    -1px 0 var(--background-color, rgb(255 255 255)),
    1px 0 var(--background-color, rgb(255 255 255)),
    0 1px var(--background-color, rgb(255 255 255)),
    0 -1px var(--background-color, rgb(255 255 255));
  mix-blend-mode: hard-light;
}

@supports 
  (text-stroke: 1px var(--background-color, rgb(255 255 255))) or
  (-webkit-text-stroke: 1px var(--background-color, rgb(255 255 255))) {
    .card__watermark {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--background-color, rgb(255 255 255));
      text-stroke: 1px var(--background-color, rgb(255 255 255));
    }
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.card__filter-blur {
  filter: blur(5px);
}

.card__filter-saturate {
  filter: saturate(500%)
}

.card__filter-invert {
  filter: invert(1)
}

.card__filter-huerotate {
  filter: hue-rotate(120deg);
}

.card__filter-sepia {
  filter: sepia(80%)
}

.card__filter-contrast {
  filter: contrast(60%);
}

.card__filter-multi {
  filter: hue-rotate(120deg) contrast(60%) sepia(40%);
}

/*.card__content-container {

}*/

.card__text-container {
  display: grid;
  row-gap: 27px;
  margin-inline: 25px;
  margin-block: 25px;
}

.card__text {
  line-height: 1.17;
}

.card__actions-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  margin-inline: 25px;
  margin-block: 23px;
  padding: 0;
}

.card__icon-button {
  display: grid;
  justify-content: center;
  align-content: center;
  inline-size: 39px;
  block-size: 38px;
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border var(--time-animation, 0.3s) ease;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color, rgb(0 0 0));
}

.like-icon {
  display: block;
}

.card__like-button {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  padding-inline: 17px;
  padding-block: 9px;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.button {
  position: relative;
  border: 2px solid var(--text-color, rgb(0 0 0));
  background-color: var(--background-color, rgb(255 255 255));
  font-family: var(--font-family-accent, sans-serif, fantasy);
  font-weight: var(--font-weight-normal, 400);
  font-size: var(--font-size-decor, 14px);
  line-height: .9;
  cursor: pointer;
  transition:
    box-shadow var(--time-animation, 0.3s) ease,
    inline-size var(--time-long, .5s) linear;
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  background-color: var(--text-color, rgb(0 0 0));
  transition: transform var(--time-long, 0.5s) ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 100%;
  inline-size: 100%;
}

.button:hover::after {
  transform: scaleX(1);
  }

.button:focus,
.card__icon-button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--text-color, rgb(0 0 0));
}

.button__text {
  position: relative;
  color: var(--background-color, rgb(255 255 255));
  mix-blend-mode: difference;
  z-index: 1;
}

.button__save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-inline: 19px;
  padding-block: 15px;
  max-inline-size: 337px;
}

.floppy-icon {
  position: relative;
  color: var(--background-color, rgb(255 255 255));
  mix-blend-mode: difference;
  z-index: 1;
}

.dialog[open] {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 30px;
  border: 2px solid var(--text-color, rgb(0 0 0));
  padding-inline: 30px;
  padding-block: 30px;
  background-color: var(--background-color, rgb(255 255 255));
  inline-size: 100%;
  max-inline-size: 357px;
}

.dialog::backdrop {
  background-color: var(--backdrop-color, rgb(0 0 0 / 0.75));
}

.dialog__floppy {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__floppy-icon {
  position: relative;
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.dialog__text {
  color: var(--text-color, rgb(0 0 0));
  font-family: var(--font-family-accent, sans-serif, fantasy);
  font-weight: var(--font-weight-normal, 400);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.accept-button {
  block-size: 38px;
  inline-size: 100%;
}

.accept-button:has(.button__text) {
  text-transform: uppercase;
}

.dialog:not([open]) {
  display: none;
}


@media (width <= 375px) {
  .button__save {
    max-inline-size: 306px;
    flex-direction: column;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }

  .dialog[open] {
    padding-inline: 40px;
    max-inline-size: 341px;
  }
}
