/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
/*Mobile First*/

.page {
  display: grid;
  justify-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main, sans-serif);
  font-variation-settings: var(--font-weight-normal, 400);
  font-size: var(--font-size-main, 18px);
  color: var(--text-color, rgb(0 0 0));
  background-color: var(--background-color, rgb(255 255 255));
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-family-main);
  }
}

.page__section-size {
  inline-size: var(--content-inline-size, min(100%, 700px));
}

/* Header */

.header {
  display: grid;
  justify-items: center;
  margin-block: 100px;
  padding: 
    clamp(7.5rem, 7.3571rem + .7143vw, 8rem) 
    clamp(.875rem, -1.0268rem + 9.5089vw, 7.53125rem);
  border: 2px solid currentColor;
  background-color: inherit;
  font-family: var(--font-family-accent, sans-serif);
}

.header__logo {
  padding-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
}

.header__title {
  font-size: clamp(.875rem, .7143rem + .8036vw, 1.4375rem);
  text-transform: uppercase;
}

/*Main*/

.content {
  display: grid;
  justify-items: center;
  row-gap: 50px;
  padding-block-end: 100px;
  font-variation-settings: 'wght' var(--font-weight-normal, 400);
}

.content__cards {
  display: grid;
  gap: 50px;
}

.card {
  border: 2px solid currentColor;
  overflow: hidden;
  inline-size: 100%;
  background-color: var(--background-color, rgb(255 255 255));
}

.card__title {
  min-block-size: 33px;
  padding-inline: 10px;
  padding-block-start: 5px;
  padding-block-end: 3px;
  font-size: inherit;
  line-height: 1.21;
  font-variation-settings: 'wght' var(--font-wght-bold, 700);
  border-block-end: 2px solid currentColor;
}

.card__image-container {
  position: relative;
  border-block-end: 2px solid currentColor;
}

.card__watermark {
  position: absolute;
  z-index: 1;
  opacity: .5;
  inset-inline-end: clamp(0.6875rem, .4375rem + 1.25vw, 1.5625rem);
  inset-block-start: clamp(1.438rem, 1.402rem + .18vw, 1.563rem);
  font-family: var(--font-family-accent, sans-serif);
  font-weight: var(--font-weight-normal, 400);
  font-size: var(--font-size-decor, 14px);
  line-height: 1;
  text-shadow:
    -1px 0 var(--background-color, rgb(255 255 255)),
    1px 0 var(--background-color, rgb(255 255 255)),
    0 1px var(--background-color, rgb(255 255 255)),
    0 -1px var(--background-color, rgb(255 255 255));
  mix-blend-mode: hard-light;
}

@supports 
  (text-stroke: 1px var(--background-color, rgb(255 255 255))) or
  (-webkit-text-stroke: 1px var(--background-color, rgb(255 255 255))) {
    .card__watermark {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--background-color, rgb(255 255 255));
      text-stroke: 1px var(--background-color, rgb(255 255 255));
    }
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.card__image-brightness {
  filter: brightness(200%);
}

.card__image-contrast {
  filter: contrast(60%);
}

.card__image-opacity {
  filter: opacity(.7);
}

.card__image-grayscale {
  filter: grayscale(.7);
}

.card__image-saturate {
  filter: saturate(150%);
}

.card__image-hue-rotate {
  filter: hue-rotate(120deg);
}

.card__image-multi-filter {
  filter: sepia(70%) invert(65%) contrast(60%);
}

.card__text-container {
  display: grid;
  row-gap: 27px;
  margin-inline: 25px;
  margin-block: 25px;
}

.card__text {
  line-height: 1.17;
}

.card__actions-container {
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 12px;
  margin-inline: 25px;
  margin-block: 23px;
  padding: 0;
}

.card__icon-button {
  display: grid;
  justify-content: center;
  align-content: center;
  inline-size: 39px;
  block-size: 38px;
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border var(--time-animation, 0.3s) ease;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color, rgb(0 0 0));
}

.like-icon {
  display: block;
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 17px;
  padding-block: 9px;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.button {
  position: relative;
  border: 2px solid var(--text-color, rgb(0 0 0));
  background-color: var(--background-color, rgb(255 255 255));
  font-family: var(--font-family-accent, sans-serif);
  font-weight: var(--font-weight-normal, 400);
  font-size: var(--font-size-decor);
  line-height: .9;
  cursor: pointer;
  transition:
    box-shadow var(--time-animation, 0.3s) ease,
    inline-size var(--time-long, .5s) linear;
}

.button::after {
  content: '';
    position: absolute;
    display: block;
    background-color: var(--text-color, rgb(0 0 0));
    transition: transform var(--time-long, 0.5s) ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    block-size: 100%;
    inline-size: 100%;
}

.button:hover::after {
    transform: scaleX(1);
  }

.button:focus,
.card__icon-button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--text-color, rgb(0 0 0));
}

.button__text {
  position: relative;
  color: var(--background-color, rgb(255 255 255));
  mix-blend-mode: difference;
  z-index: 1;
}

.button__save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-block: 15px;
  block-size: 100%;
  max-inline-size: 306;
  /*color: var(--text-color, rgb(0 0 0));*/
}

.floppy-icon {
  position: relative;
  block-size: 28px;
  color: var(--background-color, rgb(255 255 255));
  mix-blend-mode: difference;
  z-index: 1;
}



@media (width >= 460px) {
  .button__save {
    max-inline-size: 335px;
  }

  .floppy-icon {
    block-size: 21px;
  }
}




/*
сжимается svg в модалке - если флекс, то попробуй для класса иконки в модалке задать flex-shrink: 0; - запрещение сжиматься
*/